<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clarke</title>
    <link rel="stylesheet" href="/style/styles.css">
</head>

<body>
    <header>
        <h2>
            <a href="/">Héroes Tecnólogicos</a>
        </h2>
        <nav>
            <ul>
                <li><a href="/babbage">Babbage</a></li>
                <li><a href="/berners-lee">Berners-Lee</a></li>
                <li><a href="/hamilton">Hamilton</a></li>
                <li><a href="/hopper">Hopper</a></li>
                <li><a href="/lovelace">Lovelace</a></li>
                <li><a href="/turing">Turing</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <nav class="titulo-imagen">
            <h1>
                Clarke
            </h1>
            <img src="/images/clark.jpg" alt="Foto de Clark">
        </nav>
        <p>
            Clark Ashton Smith (13 de enero de 1893-14 de agosto de 1961) fue un poeta, escultor, pintor y escritor de
            cuentos de fantasía, terror y ciencia ficción estadounidense.
            Debe su fama principalmente a su obra literaria y a la amistad que compartió con Lovecraft entre 1922 y
            1937, año en que Lovecraft murió; durante ese período participó en Los Mitos de Cthulhu. Smith, H. P.
            Lovecraft y Robert E. Howard fueron los colaboradores más importantes de la revista pulp Weird Tales. Dentro
            del círculo de Lovecraft era conocido como Klarkash-ton.
        </p>
    </main>

</body>

</html>