<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="https://kit.fontawesome.com/d44dea81e2.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<body>
    <header class="header">
        <div class="header__row">
        <a class="logo" href="/"><img src="images\logo-mercado-liebre.svg" alt="Logo de mercado liebre"></a>

        <div class="header__busqueda">
            <div class="form__box--header">
                <input class="form__control--header" type="text" placeholder="Buscar marcas, productos y más" id="search" name="search"><i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>
        <p class="header__subtitulo"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de
            crédito</p>
        </div>
        <nav>
        
            <ul class="header__nav" type="none">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <div class="header__nav--cuenta">
            <ul class="header__nav" type="none">
                <li><a href="/register">Crea tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </div>
        </nav>
        <div class="burger-menu">
            <span><i class="fa-solid fa-bars"></i></span>
        </div>

    </header>
    <main>
        <img width="100%" height="100%" src="\images\img-home-banner.jpg" alt="Banner home">
        <h2 class="titulares">Basado en tu última visita</h2>
        <section>

            <article>
                <img width="100%" src="images\img-cafetera-moulinex.jpg" alt="Imagen cafetera">
                <div class="container">
                    <span class="camion"><i class="fa-solid fa-truck"></i></span>
                    <p class="precios">$6.770</p>
                    <p class="descuentos">40% off</p>
                    <h3>Cafetera Moulinex</h3>
                </div>
            </article>
            <article>
                <img width="100%" src="images\img-macbook-pro-2019.jpg" alt="Imagen MacBook">
                <div class="container">
                    <span class="camion"><i class="fa-solid fa-truck"></i></span>
                    <p class="precios">$230.000</p>
                    <p class="descuentos">20% off</p>
                    <h3>MacBook Pro 2019</h3>
                </div>
            </article>
            <article>
                <img width="100%" src="images\img-samsung-galaxy-s10.jpg" alt="Imagen Samsung Galaxy s10">
                <div class="container">
                    <span class="camion"><i class="fa-solid fa-truck"></i></span>
                    <p class="precios">$70.500</p>
                    <p class="descuentos">10% off</p>
                    <h3>Samsung Galaxy S10</h3>
                </div>
            </article>
            <article>
                <img width="100%" src="images\img-tv-samsung-smart.jpg" alt="Imagen cafetera">
                <div class="container">
                    <span class="camion"><i class="fa-solid fa-truck"></i></span>
                    <p class="precios">$23.200</p>
                    <p class="descuentos">5% off</p>
                    <h3>SmartTv Samsung 43"</h3>
                </div>
            </article>
        </section>
        <section>
            <h2 class="titulares">Ofertas</h2>
            <article>
                <img width="100%" src="images\img-cafetera-moulinex.jpg" alt="Imagen cafetera">
                <div class="container">
                    <span class="camion"><i class="fa-solid fa-truck"></i></span>
                    <p class="precios">$6.770</p>
                    <p class="descuentos">40% OFF</p>
                    <h3>Cafetera Moulinex</h3>
                </div>
            </article>
            <article>
                <img width="100%" src="images\img-macbook-pro-2019.jpg" alt="Imagen MacBook">
                <div class="container">
                    <span class="camion"><i class="fa-solid fa-truck"></i></span>
                    <p class="precios">$230.000</p>
                    <p class="descuentos">20% off</p>
                    <h3>MacBook Pro 2019</h3>
                </div>
            </article>
            <article>
                <img width="100%" src="images\img-samsung-galaxy-s10.jpg" alt="Imagen Samsung Galaxy s10">
                <div class="container">
                    <span class="camion"><i class="fa-solid fa-truck"></i></span>
                    <p class="precios">$70.500</p>
                    <p class="descuentos">10% off</p>
                    <h3>Samsung Galaxy S10</h3>
                </div>
            </article>
            <article>
                <img width="100%" src="images\img-tv-samsung-smart.jpg" alt="Imagen cafetera">
                <div class="container">
                    <span class="camion"><i class="fa-solid fa-truck"></i></span>
                    <p class="precios">$23.200</p>
                    <p class="descuentos">5% off</p>
                    <h3 class="main__h3--producto">SmartTv Samsung 43"</h3>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <i class="fa-solid fa-credit-card"></i>
        <h4 class="sub_footer">Pagá con tarjeta o en efectivo</h4>
        <p class="footer__descripcion">Con Mercado Liebre Cash, tenés cuotas sin interéscon tarjeta o efectivo en puntos
            de pago. ¡Ysiempre es seguro!</p>
        <i class="fa-solid fa-gift"></i>
        <h4 class="sub_footer"> Envío gratis desde $ 2.500</h4>
        <p class="footer__descripcion">Solo por estar registrad@ en Mercado Liebre tenésenvíos gratis en miles de
            productos. Es unbeneficio de Mercado Puntos</p>
        <i class="fa-solid fa-user-shield"></i>
        <h4 class="sub_footer"> Seguridad, de principio a fin</h4>
        <p class="footer__descripcion ultimo">¿No te gusta? ¡Devolvelo! En Mercado Liebre, nohay nada que no puedas
            hacer, porque estássiempre protegid@.</p>
        <p class="derechos"> Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>

</html>